.App {
  text-align: center;
}

.nav {
  background-color: black;
  color: antiquewhite;
  height: 4.5rem;
}

.header {
  font-size: 2.5em;
  margin: auto;
}

.main {
  background-color: rgba(255, 255, 0, 0.65);
  width: 100%;
  height: 100%;
}

.palindromeInput {
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.anagramInput {
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  align-items: center;
}

.sort {
  margin-top: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.resultTrue {
  font-size: 2em;
  color: green;
  font-weight: bold;
}

.resultFalse {
  font-size: 2em;
  color: red;
  font-weight: bold;
}

.unList {
  list-style: none;
}

.output {
  /* float: left; */
  text-align: center;
}

li {
  font-size: 1.3em;
}

.icon {
  margin-top: 0.2em;
}

.h4 {
  padding-top: 1em;
}

@media only screen and (max-width: 580px) {
  .header {
    font-size: 1.7em;
    margin: auto;
  }
  li {
    font-size: 1.2em;
  }
  .anagramInput {
    width: 30%;
  }
  .resultTrue {
    font-size: 2em;
  }
  .resultFalse {
    font-size: 2em;
  }
  .h4 {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 450px) {
  .header {
    font-size: 1.3em;
    margin: auto;
  }
  .anagramInput {
    width: 30%;
  }
  .resultTrue {
    font-size: 1.5em;
  }
  .resultFalse {
    font-size: 1.5em;
  }
  .h4 {
    font-size: 1em;
  }
}
